@charset "utf-8";
/* 左侧导航栏样式 */
*{font-size: 9pt;border: 0;margin: 0;padding: 0;}
body{font-family: '微软雅黑';margin: 0 auto;}
ul,li{display: block;margin: 0;padding: 0;list-style: none;}
dl,dt,dd{margin: 0;padding: 0;display: block;}
a,a:focus{text-decoration: none;color: #000;outline: none;}
a:hover{color: #00a4ac;text-decoration: none;}
img{border: 0;}

/* 面包屑样式 */
.place{height: 40px;background: url(../images/righttop.gif) repeat-x;}
.place span{line-height: 40px;font-weight: bold;float: left;margin-left: 12px;}
.placeul li{float: left;line-height: 40px;padding-left:7px ;padding-right: 12px;background: url(../images/rlist.gif) no-repeat right;}
.placeul li:last-child{background: none;}

/* 时间显示样式 */
.date_text{font-size: 12px;float: right;line-height: 45px;padding-right: 10px;}

