<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>3-4列表渲染指令 v-for</title>
	</head>
	<body>
		<h2>1. 列表渲染-遍历数组</h2>
		<div id="app">
			<ul>
				<li>1. 基本用法</li>
				<li v-for="book of books">{{book.name}}</li>
				<li>2. of 替换 in</li>
				<li v-for="book in books">{{book.name}}</li>
				<li>3. 添加索引参数</li>
				<li v-for="(book,index) in books">{{index}}-{{book.name}}</li>
			</ul>
		</div>
		<h2>1. 列表渲染-遍历数组-template</h2>
		<div id="app1">
			<ul>
				<template v-for="book in books">
					<li>书名：{{book.name}}</li>
					<li>作者：{{book.author}}</li>
				</template>
			</ul>
		</div>
		
		<h2>2. 列表渲染-遍历对象</h2>
		<div id="app2">
			<span v-for="property in user">-{{property}}-</span>
		</div>
		
		<h2>2. 列表渲染-遍历对象-连个可选参数</h2>
		<div id="app3">
			<ul>
				<li v-for="(value,key,index) in user">{{index}}-{{key}}:{{value}}</li>
			</ul>
		</div>
		
		<h2>3. 列表渲染-迭代整数</h2>
		<div id="app4">
			<span v-for="n in 10">{{n}} </span>
		</div>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var app4=new Vue({
				el:'#app4',
			})
			var app3=new Vue({
				el:'#app3',
				data:{user:{name:'chuanmingxie',gender:'男',age:'28'}}
			})
			var app2=new Vue({
				el:'#app2',
				data:{
					user:{name:'chuanmingxie',gender:'男',age:'28'}
				}
			})
			var app1=new Vue({
				el:'#app1',
				data:{
					books:[
						{name:'《Vue.js实战》',author:'梁实秋'},
						{name:'《JavaScript精粹》',author:'Douglas Crockford'},
						{name:'《JavaScript高级程序设计》',author:'nicholas C.Zakas'}
					]
				}
			})
			var app=new Vue({
				el:'#app',
				data:{
					books:[
						{name:'《Vue.js实战》'},
						{name:'《JavaScript精粹》'},
						{name:'《JavaScript高级程序设计》'}
					]
				}
			})
		</script>
	</body>
</html>
