<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>3-4条件渲染指令-v-for-数组操作-方法测试</title>
	</head>
	<body>
		<h2>数组更新</h2>
		<div id="app">
			<ul>
				<li v-for="book of books">{{book.name}}</li>
			</ul>
		</div>
		<div id="app1">
			<ul>
				<template v-for="book in books">
					<li>书名：{{book.name}}</li>
					<li>作者：{{book.author}}</li>
				</template>
			</ul>			
		</div>
		<div id="app2">
			<ul>
				<li v-for="book of books">书名：{{book.name}}-作者：{{book.author}}</li>
			</ul>
		</div>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			// push()
			var app=new Vue({
				el:'#app',
				data:{
					books:[
						{name:'《实战》',author:'E F'},
						{name:'《精粹》',author:'胡汉三'},
						{name:'《高级程序设计》',author:'M N'},
				]}
			});	
			app.books.push({name:'《CSS揭秘》',author:'李庆芳'});
			
			// unshift()
			var num=app.books.unshift({name:'《CSS语言精粹》',author:'徐丽芳'});
			console.log("新的数组数量为"+num);		
			
			// concat()
			var tempbooks=[
					{name:'《Vue.js实战》',author:'谢传明'},
					{name:'《JavaScript精粹》',author:'Douglas Crockford'},
					{name:'《JavaScript高级程序设计》',author:'nicholas C.Zakas'},
					{name:'《8》',author:'谢传看'},
					{name:'《8》',author:'谢以安'},
					{name:'《8》',author:'张志伟'},
					{name:'《2》',author:'D'}
			];
			var app1=new Vue({
				el:'#app1',
				data:{
					books:tempbooks.concat(app.books)
				}
			});
			
			// sort()
			// sort()-if 比较字符串方式
			var sortNumber = function(a, b) {
				// return b.author - a.author;	直接相减，在对象比较中错误的写法，需要通过if表达式操作
				if(b.author>a.author){return -1;}
				if(b.author<a.author){return 1;}
				return 0;
			}
			// sort()- collator方式
			const collator = new Intl.Collator('cn');
			var sortfun1=function(a,b){
				return collator.compare(a.name, b.name);
			}
						
			var booksConcat=tempbooks.concat(app.books).sort(sortNumber);
			var booksConcat2=tempbooks.concat(app.books).sort();
			var app2=new Vue({
				el:'#app2',
				data:{
					books:booksConcat.sort(sortfun1)
				}
			});
			
			// filter()
			app2.books=app2.books.filter(function(item){
				return item.name.match(/JavaScript/);
			});
			
			Vue.set(app.books,3,{
				name:'《C#开发指南》',
				author:'Josnk toms'
			})
			
			app.books.splice(3,1,{name:'《C#开发指南》',author:'Josnk toms'})
			app.books.splice(1);
			
		</script>
	</body>
</html>
