@charset "utf-8";
/* common */
html{font-size:12px;color:#4a4a4a;font-family:"微软雅黑";}
body{background:#f8f8f8;line-height:180%;}
body,form,img,p,h1,h2,h3,h4,h5,dl,dd,dt,ul,li,input{margin:0;padding:0;border:0;}
dl,dd,dt,ul,li{list-style-position:outside;list-style-type:none;}
textarea{resize:none;}
input{background:none;outline-style:none;}
em,cite{font-style:normal;}
a{color:#4a4a4a;outline-style:none;text-decoration:none;}
a:hover{color:#EB8C14;}
.clear{clear:both;font-size:0px;visibility:hidden;width:0px;line-height:0px;}
.clearfix{zoom:1;}
.clearfix:after{content:'.';height:0;line-height:0;font-size:0;visibility:hidden;clear:both;}

.pt10{padding-top:10px;}
/* head */
.siteNav{height:24px;line-height:24px;position:relative;padding-top:0;}
.siteNavBox{width:991px;height:26px;overflow:hidden;zoom:1;position: absolute; margin-left:-495px; left: 50%;}
.quickMenu{float:left;height:24px;line-height:24px;font-size:14px; border-bottom:#8b90b3 solid 2px; padding-left:0;position:relative;top:0;}
.quickMenu a{display:inline-block;margin-right:15px;color:#4a4a4a;background:url(//file.caixin.com/webchannel/all/img/qm_sj.gif) no-repeat 0 center;padding-left:10px; }
.quickMenu a:hover{color:#eb8c14;}
.quickMenu-left{position: absolute;left:0;right:70%\9; width:calc((100% - 990px)/2); height:24px;border-bottom:#8b90b3 solid 2px;}
.quickMenu-right{position: absolute; top:0px; right:-26px;width:26px;height:26px;background:url(//file.caixin.com/webchannel/all/img/top-line.gif) no-repeat right top;
}
.loginInfo{float:right;background: #fff;overflow:hidden;zoom:1;display:inline;}
.loginInfo ul{float:right;border:#1f286f solid 1px; border-top:none; padding-left:23px; background:url(//file.caixin.com/webchannel/all/img/user-icon.png) no-repeat 7px center;}
.loginInfo li{float:left;margin-right:-1px;font-size:14px;}
.loginInfo li a,.loginInfo li span{padding:0 7px;border-right:solid 1px #1f286f; color:#1f286f;}

.nav-long-line{ border-bottom: #1f286f solid 2px; padding-top:20px;}
.seach-banner{ width:991px; position: relative; margin:0 auto; height:64px;}
.seach-banner .logo{position:absolute; width:68px;z-index:2;margin-left:-34px;left:50%;bottom:-11px; background:#f8f8f8;}
.seach-banner .logo img{position:relative; width:106px;height:auto;left:-19px;}
.seach-banner .top_left_logo{height: 50px;float: left;}
.seach-banner .top_left_logo a{display: inline-block;height: 100%;}
.seach-banner .top_left_logo img{height: 100%;width: auto;}

.btn_dingyue{width: 140px;height: 30px;line-height: 30px;cursor: pointer;background: #fcaf16;text-align: center;color: #fff;float: right;margin:10px 0 0 0;font-size: 16px;}


.navLink{float:left;width:450px;zoom:1;padding-top:24px;font-size:14px;height:14px;line-height:14px;}
.navLink span{float:left;}
.navLink span a{padding-right:12px;}
.navLink span a:hover{}

.navLink{padding-top: 9px;}
.navLink div{height: 24px;}
.navLink div span{ padding-right: 10px;}

.searchBox{float:right;background: #fff; width:200px;height:24px;border:solid 1px #1f286f;overflow:hidden;zoom:1;margin:0 15px 0 0;}
.searchBox input.keyword{float:left;width:158px;height:24px;line-height:24px;background:#fff;padding:0 5px;color:#9b9b9b;font-size:14px;}
.searchBox input.keyword:focus{color:#1f286f;}
.searchBox .seachBtn{float:right;background:#1f286f;padding:5px;}

.shopBtn{float:right;margin:10px 0 0 20px;background: #fff; height:28px;width:68px;font-size:14px;border:solid 1px #1f286f;}
.shopBtn span {float:right;padding-left:21px;height:28px; line-height:28px;width:47px; text-align:center; color:#1f286f;font-size:14px;background:url(//file.caixin.com/webchannel/all/img/shop-icom.png) no-repeat 8px center;}

.mainNav{height:40px; background: #fff; margin-top:19px; border-top:#f3f3f3 solid 1px; border-bottom:#c2c2c2 solid 1px;
    -webkit-box-shadow: 0 1px 3px #c2c2c2;
    -moz-box-shadow: 0 1px 3px #c2c2c2;
    box-shadow: 0 1px 3px #c2c2c2;
}
.nav{line-height:40px;width:1010px;margin:-2px auto 0 auto;overflow:hidden;zoom:1;height:40px;}
.nav td{font-size:18px;font-weight:bold;padding:8px 0;}
.nav td a{position:relative;right:-1px;display:block;width:100%;height:24px;line-height:24px;text-align:center;color:#4a4a4a;border-right:#dcdcdc solid 1px;}
.nav td:last-child a{border-right:none;}
.nav td.current a{color:#fff;right:0px;}

.menu_con{width:990px;margin:3px auto 0;}
.menu_con_box{position:absolute;font-size:14px;z-index:100;width:990px;background:#f8f8f8;line-height:25px;overflow:hidden;zoom:1;}
.menu_con div a{display:inline-block;padding:0 12px;}
.menu_con div a:hover{}
/* 导航滑过颜色修改 */
td.homepage.current{background:#163B8A;}
#subnav0{height:0px;}

td.economy.current{background:#097AC9;}
#subnav1 a:hover{color:#097AC9}

td.finance.current{background:#d5a03f;}
#subnav2 a:hover{color:#d5a03f}

td.companies.current{background:#48a9a5;}
#subnav3{padding-left:90px;}
#subnav3 a:hover{color:#48a9a5}

td.china.current{background:#a0377f;}
#subnav4{padding-left:170px;}
#subnav4 a:hover{color:#a0377f}

td.international.current{background:#09acf8;}
#subnav5{padding-left:330px;}
#subnav5 a:hover{color:#09acf8}

td.opinion.current{background:#383971;}
#subnav6{padding-left:140px;}
#subnav6 a:hover{color:#383971}

td.life.current{background:#fbad2b;}
#subnav7{padding-left:445px;}
#subnav7 a:hover{color:#fbad2b}

td.blog.current{background:#bf2709;}
#subnav8{padding-left:460px;}
#subnav8 a:hover{color:#bf2709}

td.magazine.current{background:#914525;}
#subnav9{padding-right:205px;text-align:right;}
#subnav9 a:hover{color:#914525}

td.picture.current{background:#2a4f6b;}
#subnav10{text-align:right;}
#subnav10 a:hover{color:#2a4f6b}

td.video.current{background:#048479;}
#subnav11{text-align:right;}
#subnav11 a:hover{color:#048479}

td.shuzishuo.current{background:#0095ea;}
#subnav15{padding-right:120px;text-align:right;}
#subnav15 a:hover{color:#0095ea}

td.cnbc.current{background:#e84817;}
#subnav12{padding-left:130px;}
#subnav12 a:hover{color:#e84817}

td.zhishu.current {background: #d7a000;}
#subnav13 {text-align:right;}
#subnav13 a:hover{color:#d7a000}

td.english.current{background:#2fbde1;}
#subnav14 {text-align:right;}
#subnav14 a:hover{color:#2fbde1}

td.science.current{background:#48a9a5;}
#subnav16 {padding-left: 300px;}
#subnav16 a:hover{color:#48a9a5}
/* bottom */
.bottom{width:100%;}
.bottom .logo{padding:23px 0px;text-align:center; }
.map{width:100%;}
.map h3{border-top: #1f286f solid 2px;width:990px;text-align:center; background:#f8f8f8;padding:8px 0px;margin:0 auto 10px auto;font-size:14px;color:#1f286f;}
.map ul{width:990px;margin:0 auto;overflow:hidden;zoom:1;}
.map li{float:left;width:122px;line-height:20px;}
.map li dl{padding:0 0 15px 20px;}
.map li dl.h155{height:190px;overflow:hidden;}
.map li dt{font-weight:bold;}
.copyright{width:990px;border-bottom: #1f286f solid 2px;margin:0 auto 15px auto;padding:5px 0 10px;text-align:center;line-height:24px;color:#797878;}
.navBottom{text-align:center;color:#797878;}
.navBottom a{color:#797878;}
.navBottom a:hover{color:#EB8C14;}


.topUp{width:990px;margin:0 auto 0px;padding-top:20px;}
.topUp .topAd{float:left;width:991px;}
/*.topUp .topAd iframe,.topUp .topAd object{display:block;margin:0 auto;}*/
.topUp .topAd div{line-height:0;}
.centerAd .adsame-banner-box{ width:100%!important;}
.centerAd .adsame-banner-box a{display:block; width:100%;}
.centerAd .adsame-banner-box a img{display:block; width:100%;margin:0 auto;}
.indexBotAd{ margin-top:20px;}

@media (-webkit-min-device-pixel-ratio:2){
    .loginInfo ul{background:url(//file.caixin.com/webchannel/all/img/user-iconx2.png) no-repeat 8px center;background-size:15px 15px;}
    .shopBtn span{background:url(//file.caixin.com/webchannel/all/img/shop-icomx2.png) no-repeat 8px center;background-size:15px 15px;}
}

.icon_time{
  display: inline-block;
  background: url(//file.caixin.com/webchannel/all/img/icon_time.png) no-repeat 5px 2px;
  width: 20px;
  height: 19px;
}
.icon_key{
  display: inline-block;
  background: url(//file.caixin.com/webchannel/all/img/icon_key.png) no-repeat 5px 0;
  width: 26px;
  height: 10px;
  vertical-align: middle;
}

/*------------------20180102---------------------*/
.icon_time_3,.icon_time_6,.icon_time_9,.icon_time_12,.icon_time_24,.icon_time_48,.icon_time_72{display:inline-block;width:36px;height:22px; vertical-align: middle;margin-left:5px;}
.icon_time_3{background:url(//file.caixin.com/webchannel/all/img/icon-time03.png) no-repeat 0 0;}
.icon_time_6{background:url(//file.caixin.com/webchannel/all/img/icon-time03.png) no-repeat -41px 0;}
.icon_time_9{background:url(//file.caixin.com/webchannel/all/img/icon-time03.png) no-repeat -81px 0;}
.icon_time_12{background:url(//file.caixin.com/webchannel/all/img/icon-time03.png) no-repeat -121px 0;}
.icon_time_24{background:url(//file.caixin.com/webchannel/all/img/icon-time03.png) no-repeat -162px 0;}
.icon_time_48{background:url(//file.caixin.com/webchannel/all/img/icon-time03.png) no-repeat -203px 0;}
.icon_time_72{background:url(//file.caixin.com/webchannel/all/img/icon-time03.png) no-repeat -244px 0;}

.cx-img-loader{opacity:0;transition:opacity 1s;-webkit-transition:opacity 1s; }
/* --------------------------------------20190701--------------------------------------- */
.sitenav {height:42px;line-height:42px;position:relative;padding-top:0}
.sitenavBox {width:990px;overflow:hidden;margin: 0 auto;}
.quickmenu {float:left;height:42px;line-height:42px;font-size:14px;padding-left:0;position:relative;top:0}
.quickmenu a {display:inline-block;margin-right:10px;color:#4a4a4a;}
.quickmenu a:hover {color:#eb8c14}
.logininfo {float:right;overflow:hidden;zoom:1;margin-right: 20px;display:inline}
.logininfo li {float:left;margin-right:-1px;font-size:14px;margin-top: 10px; height: 24px;line-height: 24px;}
.logininfo li a{width:54px;border-right:solid 1px #1c2b6b;color:#1c2b6b; text-align: center;display: inline-block;}
.logininfo li:first-of-type a{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding-right: 5px;}
.topup {width: 990px;margin: 0 auto 0;}
.shop_dingyue{float: right;}
.shop_dingyue a{padding:0 25px; background:#7dd0fd; color: #fff;display: inline-block;border-radius: 20px; line-height: 24px;font-size: 14px;margin-left: 5px;}
.mainnav{margin: 20px auto 0;width: 100%;background: #f8f8f8; z-index: 999;position: static; top:0}
.mainnavscroll{position:fixed;top:-22px;left:0;padding:12px 0 5px;background: #34304c;}
.nav_more{display: none;margin:12px 10px 0 0;}
.nav_more ul{width: 18px;overflow: hidden;margin: 0 auto;cursor: pointer;}
.nav_more ul li{background:#f8f8f8;width:18px;height: 2px;margin-bottom: 4px;line-height: 0;font-size: 0;}
.nav_more:hover ul li{background: #10b8dd;}
.Nav{line-height: 36px; width: 1010px;margin: -2px auto 0 auto;overflow: hidden;position: relative;}
.Nav ul li {float: left;}
.Nav .navtabs{width: 57px;overflow: hidden; display: inline-block;margin-top: 40px;}
.Nav .navtabs:last-of-type{width: 85px;}
.mainnavscroll .Nav{width: 990px;}
/* .Nav .navtabs a{display: block;width:64%;text-align: center;color: #4a4a4a;font-size: 18px; margin: 0 auto;font-weight: bold;} */
.Nav .navtabs a{display: block;width:64%;text-align: center;color: #4a4a4a;font-size: 17px; margin: 0 auto;font-weight: 700;}
.Nav .juzhong{width: 62px;}
.mainnavscroll .navtabs{margin-top: 0; width:69px;}
.mainnavscroll .navtabs:last-of-type{width: 65px;}
.mainnavscroll .navtabs a{color: #f8f8f8;}
.logimage{width: 144px;height: 83px;}
.logimage a{width:106px; display:block;margin: 0 auto;}
.logimage a img{width: 100%;}
#nav13{width: 78%;}
.mainnavscroll #nav13{width: 100%;}
.Nav .current a{color:#10b8dd ;}
.littlenav{width: 100%;}
.littlenavwarp,.littlenavmore{width: 990px;margin: 0 auto;padding:12px 10px;overflow: hidden;}
.littlenavwarp{padding:5px 10px 3px;background: #34304c;width: 970px;}
.littlenavscroll .littlenavwarp{width:980px;padding:12px 10px 12px 0;background:none;}
.littlenavwarp .left{float: left;line-height: 26px;}
.littlenavwarp .left a{color: #fff; border-right: 1px solid #4c466b;padding:0 10px;font-size: 14px;}
.littlenavwarp .left a:first-of-type{color: #8984aa;padding-left: 0;}
.littlenavwarp .left a:last-of-type{border: none;}
.littlenavmore{border-top: 1px solid #62656f;padding:15px 0;display: none;}
.littlenavmore a{color: #fff;font-size: 14px;font-weight: bold;margin-right: 14px;}
.littlenavmore .left{float: left; margin-right: 40px;}
.littlenavscroll{position:fixed;top:48px;background:url(https://file.caixin.com/webchannel/home/img/littlenav_bg.png);z-index: 999; display: none;}
.searchbox {float:right;background:#34304c; width:200px;height:24px;overflow:hidden;zoom:1;}
.searchbox input.keyword {float:left; width:150px;height:24px; line-height:24px; background:#4D486A; padding:0 10px; color:#8984aa; font-size:14px;border-radius: 50px;}
.searchbox input.keyword:focus { color:#8984aa}
.searchbox .seachBtn { float:right;padding:2px}
.littlenavscroll .searchbox{display: none;}
.more_display{display: block;}
