html {
	color: #000;
	overflow-y: scroll;
	overflow: -moz-scrollbars
}

body,button,input,select,textarea {
	font: 12px arial
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%
}

blockquote,body,button,dd,dl,dt,fieldset,form,
h1,h2,h3,h4,h5,h6,hr,
input,legend,li,ol,
p,pre,td,textarea,th,ul {
	margin: 0;
	padding: 0
}

a {
	text-decoration: none
}

a:hover {
	text-decoration: underline
}

img {
	-ms-interpolation-mode: bicubic
}

.index-module_topbarWrap_3zzqG {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #f8f8f9;
	-webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
	-o-border-image: linear-gradient(hsla(0, 0%, 100%, .95), hsla(0, 0%, 100%, .95));
	border-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, .95)), to(hsla(0, 0%, 100%, .95)));
	border-image: linear-gradient(hsla(0, 0%, 100%, .95), hsla(0, 0%, 100%, .95))
}

.index-module_topbarWrap_3zzqG .index-module_topbarLogo_2IqfR {
	display: inline-block;
	padding-left: 20px
}


.index-module_topbarWrap_3zzqG .index-module_topbarLogo_2IqfR img {
	width: 102px;
	height: 32px
}

.index-module_topbarWrap_3zzqG .index-module_topbarMenu_1yUi8 {
	position: relative;
	padding-right: 24px;
	height: 70px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
.index-module_topbarWrap_3zzqG .index-module_topbarMenu_1yUi8 a {
	color: #000;
	font-size: 13px;
	line-height: 13px
}

.index-module_topbarWrap_3zzqG .index-module_topbarMenu_1yUi8 a.index-module_index_S43Z4 {
	margin-right: 22px
}

.index-module_topbarWrap_3zzqG .index-module_topbarMenu_1yUi8 .index-module_hide_CQkfj {
	visibility: hidden
}
.index-module_topbarWrap_3zzqG .index-module_topbarMenu_1yUi8 a.index-module_loginBtn_2jAjN {
	display: inline-block;
	height: 24px;
	width: 48px;
	background-color: #4e71f2;
	border-radius: 6px;
	line-height: 24px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	margin-left: 2px
}

.index-module_articleWrap_2Zphx .index-module_notice_1bwkT p {
	font-size: 13px;
	line-height: 20px;
	color: #999
}
.index-module_articleWrap_2Zphx .template-1+p {
	margin-top: 26px
}

.app-module_topbarWrapper_-F_R2 {
	position: fixed;
	top: 0;
	z-index: 99;
	height: 70px;
	width: 100%
}

.app-module_contentWrapper_2jN0Z {
	padding-top: 70px;
	min-height: 25vh;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.app-module_contentWrapper_2jN0Z .app-module_headerWrapper_3tNyU {
	background-color: #f8f8f9;
	border-bottom: 1px solid #f2f2f2
}

.app-module_contentWrapper_2jN0Z .app-module_articleWrapper_q1J1i {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 900px;
	margin: 0 auto;
	background-color: #f2f2f2
}

.app-module_contentWrapper_2jN0Z .app-module_articleWrapper_q1J1i .app-module_leftSection_EaCvy {
	width: 600px;
	background-color: #fff;
	padding-right: 50px
}

.app-module_contentWrapper_2jN0Z .app-module_articleWrapper_q1J1i .app-module_rightSection_2v051 {
	width: 200px;
	background-color: #fff;
	padding-left: 50px;
	margin-left: 1px
}
.index-module_headerWrap_j_uQR {
	padding-bottom: 51px;
	width: 900px;
	margin: 0 auto
}
.index-module_articleTitle_28fPT {
	font-size: 40px;
	line-height: 58px;
	padding-top: 41px;
	padding-bottom: 21px;
	text-align: justify;
	font-weight: 700;
	font-family: Microsoft Yahei, 微软雅黑, 宋体
}

.index-module_articleDesc_3YM_A {
	margin-right: 250px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}
.index-module_articleDesc_3YM_A .index-module_authorIcon_mzlJU img {
	width: 100%;
	height: 100%;
	border-radius: 50%
}

.index-module_articleDesc_3YM_A .index-module_authorIcon_mzlJU {
	position: relative;
	width: 47px;
	height: 47px;
	margin-right: 15px;
	border-radius: 50%
}

.index-module_articleDesc_3YM_A .index-module_authorTxt_V6XfG {
	max-width: 492px;
	overflow: hidden
}
.index-module_articleDesc_3YM_A .index-module_authorTxt_V6XfG a {
	color: #000
}

.index-module_articleDesc_3YM_A .index-module_authorTxt_V6XfG span {
	white-space: nowrap
}

.index-module_articleDesc_3YM_A .index-module_authorTxt_V6XfG span.index-module_accountAuthentication_3BwIx {
	overflow: hidden;
	text-overflow: ellipsis
}

.index-module_articleDesc_3YM_A .index-module_authorTxt_V6XfG .index-module_authorName_7y5nA {
	display: block;
	margin-bottom: 5px;
	width: 100%;
	font-size: 16px
}

.index-module_articleSource_2dw16 {
	font-size: 12px;
	color: #999;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.index-module_articleSource_2dw16 .index-module_time_10s4U {
	margin: 0 8px
}


.index-module_articleSource_2dw16 .index-module_line_7cETH {
	display: inline-block;
	height: 12px;
	width: 1px;
	background-color: #e0e0e0;
	margin-right: 8px
}
