/* 4-10CSS样式属性-文本属性 */
@charset "utf-8";

/* 字母间隔 - 设置字符或字母之间的间隔 */
.letterSpacingClass{
	letter-spacing: 5px;
}

/* 字间距 - 设置单词之间的标准间隔,默认 normal或0 */
.wordSpacingClass{
	word-spacing: 15px;
}

/* 缩进文本 - 设置行的缩进大小,值可取正或负,单位可用em,px,% */
.textIndentClass{
	text-indent: 20px;
}

/* 水平对齐方式 - 设置文本的水平对齐方式,取值left,right,center,justify */
.textAlignClass{
	text-align: justify;
}

/* 字符转换 - 设置为本中字母的大小,取值none,uppercase,lowercase,capitalize */
.textTransform{
	text-transform: uppercase;
}

/* 文本修饰符 - 设置段落中需要强调的文字,取值 上划线(overline),下划线(underline),删除线(line-through),闪烁(blink) */
.textDecoration{
	text-decoration: underline;
}

/* 垂直对齐 - 取值 bottom,top,middle,baseline */
.verticalAlign{
	vertical-align: bottom;
	font-size: 70%;
}