@charset "utf-8";
.letterSpacingClass{
	letter-spacing: 5px;
}

.wordSpacingClass{
	word-spacing: 15px;
}

.textIndentClass{
	text-indent: 20px;
}

.textAlignClass{
	text-align: justify;
}

.textTransform{
	text-transform: uppercase;
}

.textDecoration{
	text-decoration: underline;
}

.verticalAlign{
	vertical-align: bottom;
	font-size: 70%;
}