/* 4-11CSS样式属性-字体属性 */
@charset "utf-8";
.fontFamily{
	font-family: 楷体;
}

.fontStyle{
	font-style: italic;
}

.textTransform{
	text-transform: uppercase;
}

.fontVariant{
	font-variant: small-caps;
}

.fontWeight{
	font-weight: bolder;
}

.fontSize1{
	font-size: xx-large;
}

.fontSize2{
	font-size: 24px;
}

.myFont{
	font:italic bold 12px/20px arial,sans-serif;
}