@charset "utf-8";
/* 4-21 CSS样式属性-伪元素 */
::first-line{font-weight: bold;text-decoration: underline;
	font-size: 18px;
	line-height: 30px;
}
.inlineStyle::before{content: url(../img/eg_arrow.gif);}
.letterStyle::first-letter{font-size: 40px;border: solid 3px #666666;}
.letterStyle::after{content: url(../img/eg_arrow.gif);}