@charset "utf-8";
/* 8-3综合复习小应用-问卷调查 */
[v-cloak]{
	display: none;
}
.main{
	font-size: 14px;
	line-height: 30px;
	font-family: "microsoft yahei" ;
	width: 300px;
	height: 480px;
	margin: 6px;
	padding: 14px;
	background-color: #FFFFFF;
	border-radius: 3px;
	box-shadow: 0px 0px 4px 4px #b4b7b89e;
	position: relative;
}

textarea{
	height: 100px;
	width: 280px;
    line-height: 1.6rem;
    font-size: 14px;
    font-family: "microsoft yahei 黑体";
}

.btnGroup{
	text-align: center;
	vertical-align: bottom;
	position: absolute;
	bottom: 20px;
}

button{
	width: 90px;
	color: #fff;
	background-color: #39f;
	border:0;
	padding: 6px;
	margin-right:3px;
	text-align: center;
	font-size: 12px;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
	position: relative;
}

button:disabled{
	background-color: #808080;
}