@charset "utf-8";

#menuDiv {
	background-color: #CCC;
	width: 100%;
	height: 30px;
}

input[type='button'],
input[type='text']{
	padding: 0px 10px;
	width: 150px;
}

input[type="checked"]{
	width: 20px;
}
