<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>5-01v-model-基本用法</title>
		
	</head>
	<body>
		<h2>5-01v-model-基本用法</h2>
		<div id="app">
			<h3>1.文本框与文本域</h3>
			<h4>1.1.响应式显示文本框、域的内容</h4>
			<input type="text" v-model="message" placeholder="输入...." />
			<p>输入的内容为:{{message}}</p>
			<textarea rows="" cols="" v-model="txtContent" placeholder="内容...."></textarea>
			<p style="white-space: pre;">输入的内容为:{{txtContent}}</p>
			
			<h4>1.2.实时更新输入框使用@input</h4>
			<p>输入的内容是：{{inputMessage}}</p>
			<input type="text" @input="handleInput" placeholder="输入..." />
			
			<h3>2.单选框</h3>
			<h4>2.1.一个单选框</h4>
			<input type="radio" :checked="picked"/><label>单选按钮</label>
			<h4>2.2.一组单选框-设置value</h4>
			<input type="radio" v-model="pickedG" value="html" id="html" /><label for="html">html</label><br>
			<input type="radio" v-model="pickedG" value="js" id="js"/><label for="js">JavaScript</label><br>
			<input type="radio" v-model="pickedG" value="css" id="css"/><label for="css">css</label><br>
			<p>选中{{pickedG}}</p>
			
			<h3>3.复选框</h3>
			<h4>3.1一个复选框</h4>
			<input type="checkbox" v-model="checked" id="checked" value="" />
			<label for="checked">选中状态：{{checked}}</label>
			<h4>3.1一组复选框</h4>
			<input type="checkbox" v-model="checkedG" id="checked" value="html" id=“html />
			<label for="css">HTML</label><br>
			<input type="checkbox" v-model="checkedG" id="checked" value="js" id=“js />
			<label for="css">JavaScript</label><br>
			<input type="checkbox" v-model="checkedG" id="checked" value="css" id=“css />
			<label for="css">CSS</label><br>
			<p>选项是：{{checkedG}}</p>
			
			<h3>4.下拉列表框</h3>
			<h4>4.1.单选下拉列表</h4>
			<select v-model="selected">
				<option value="">html</option>
				<option value="js">JavaScript</option>
				<option value="">css</option>
			</select>
			<p>选择的项是：{{selected}}</p>
			<h4>4.2.多选下拉列表</h4>
			<select v-model="selectedM" multiple="multiple">
				<option>html</option>
				<option value="js">JavaScript</option>
				<option>css</option>
			</select>
			<p>选择的项是：{{selectedM}}</p>
			<h4>4.3.列表渲染指令设置下拉项</h4>
			<select v-model="selectedvfor">
				<option v-for="option in options" :value="option.value">{{option.text}}</option>
			</select>
			<p>选择的项是：{{selectedvfor}}</p>
		</div>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/05-01v-model.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
