@charset "utf-8";
/*特别样式*/
.pathlf { background:#1f286f;}
.pathlf em { background-position:0 -315px;}
.pathlf a:hover em { background-position:-30px -315px;}
.pathlf a:hover#pL em { background:url(//file.caixin.com/file/content/images/new/path_nobg.png) no-repeat;} 
.comMain h3,.comMain .tit3{ border-bottom:solid 2px #1f286f; color:#1f286f;}
.comment h3 li.hovertab,.comment .tit3 li.hovertab,.top10Nav li.current { border-top:solid 3px #1f286f; border-left:solid 1px #1f286f; border-right:solid 1px #1f286f; color:#1f286f;}
.pip_mag,.pip_rel,.pip_aud { border-top:solid 2px #1f286f;}
.submit_color { color:#1f286f;}

/*面包屑*/
.path .pathlf{ line-height:34px;}
.path .zjPicFun{ padding:0 0 0 2px; background:#F1F1F1;overflow:hidden;zoom:1; float:right; width:260px;}	
.zjPicFun .funcri{ } 
.zjPicFun .funcri li{ margin-left:0; height:34px; border-left:solid 1px #ffffff;} 
.zjPicFun .funcri li a{ height:34px; width:34px;}
.zjPicFun a.f_comment{ background-position:-170px 4px;}
.zjPicFun a.f_tencent{ background-position:-230px 4px;}
.zjPicFun a.f_sina{ background-position:-260px 4px;}
.crumbsTit{ float:left; font-size:18px; font-family:"微软雅黑"; margin-left:25px; width:430px; overflow:hidden;}
.function .date{ float:left; color:#C3C3C3; font-weight:bold; font-family:Arial;}
.focusBody{width:990px; margin:0px auto;padding-top:15px; margin-bottom:15px; position:relative; overflow:hidden;zoom:1; z-index:200;}
.focusBody img{ vertical-align:top;}
.focusBody .num{position:absolute; font-size:16px; font-weight:bold; right:180px; bottom:50px; font-family:Arial; color:#999; line-height:38px; z-index:100;}
.focusBody .num em{font-size:36px;}
.scrlbox{float:left; width:840px; height:560px; overflow:hidden; position:relative;}
.trag{width:47px; height:47px; position:absolute; right:0; bottom:0;}
.scrlbox .play_btn .left {background-attachment: scroll; background-clip: border-box;background-color: transparent;background-origin: padding-box;background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;height: 560px;left: 0;position: absolute;top: 0;width: 420px;cursor:url("//file.caixin.com/file/photos/images/left.cur"),auto;}
.scrlbox .play_btn .right {background-attachment: scroll;background-clip: border-box;background-color: transparent;background-origin: padding-box;background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;height: 560px;right: 0;position: absolute;top: 0;width: 420px;cursor:url("//file.caixin.com/file/photos/images/right.cur"),auto;}
.scrlpics{width:20000px;}
.scrlpics ul,.scrlpics li{float:left;}
.scrlpics li{ position:relative; width:840px; height:560px; background:#131d27; text-align:center;}
.slidebox{width:130px; float:right; height:560px; position:relative; text-align:center;overflow:hidden;zoom:1; }
.slidebox .play_pre{position:absolute; left:0; top:0; cursor:pointer;}
.slidebox .play_next{position:absolute; left:0; bottom:0; cursor:pointer;}
.slidepics{height:522px; overflow:hidden; margin-top:19px;}
.slidepics li{margin-bottom:6px; cursor:pointer; overflow:hidden; zoom:1;}
.slidepics li a{display:block; width:130px; height:87px; background:#131d27; overflow:hidden; zoom:1;}
.slidepics li.cur a { width:126px; height:83px;}
.slidepics li.cur{border:solid 2px #ea8b13;}
.slidepics span{display:block; overflow:hidden; zoom:1;}

/*图片翻页指针*/
.imgBox{position: relative;float:left; width:840px;}  
.imgBox div{position:absolute; left:0px; top:0px; width:50%; height:98%; background: #fff; opacity:0.0; filter:alpha(opacity=0); } 
.imgBox img{}  
.imgBox .left{cursor: url('//file.caixin.com/file/photos/images/left.cur'),default;}   
.imgBox .right{left:50%; cursor: url('//file.caixin.com/file/photos/images/right.cur'),default;}   
.topSubNavri{float:right;width:300px;height:25px;background:url(//file.caixin.com/file/common/images/bg_channel_search.gif) no-repeat left top;}
.topSearchBox input{width:260px;height:16px;background:#fff;border:0px;color:#929292;}
.siteShare{float:right; margin-top:3px;}
.op .comment{margin:3px 0 0 0px; float:left; color:#999; background:none; width:400px; padding-bottom:0;}
.op .comment i{color:#c00;}
.infobox{background:#ededed; clear:both; padding:10px 15px 10px 40px; line-height:23px; zoom:1; position:relative; z-index:30;}
.infobox dl{padding-right:0px;}
.infobox h1{font-size:22px; font-family:"黑体"; font-weight:normal; margin-bottom:5px; float:left; width:670px; overflow:hidden;}
.infobox dd{font-size:14px; width:670px;}
.morepics{font-size:14px; overflow:hidden; zoom:1; padding:8px 0 0; color:#999;}
.morepics .pre{float:left;}
.morepics .next{float:right;}
.morepics a:link,.morepics a:visited{color:#369;}
.morepics a:hover,.morepics a:active{color:#eb8c14;}
.infobox01{margin-bottom:15px;background:#ededed; clear:both; padding:10px 15px 10px 40px; line-height:23px;}
.infobox01 dl{ float:left; width:580px;padding-right:0px;}
.infobox01 dd{ font-size:14px;}
.morepics01{ float:right; width:300px;  font-size:14px;}
.morepics01 span{ color:#858585;}
.morepics01 a:link,.morepics01 a:visited{color:#369;}
.morepics01 a:hover,.morepics01 a:active{color:#eb8c14;}
.siteShare li{float:left; margin:0 0 0 5px; padding:0 0 5px 0;}
.siteShare li.snSite{padding:0 0 5px 5px; margin-left:0;position:relative;text-align:right;}
.siteShare li.snSite div{position:absolute; right:-10px; top:18px; padding:5px 0; border:solid 1px #efefef; background:#fff;text-align:left;}
.siteShare li.snSite span{display:block; white-space:nowrap;}
.siteShare li.snSite span a{padding:5px 10px; display:block;}
.siteShare li.snSite span a:hover{background:#f5f5f5;}
.siteShare li.snSite span img{vertical-align:middle; margin-right:7px;}
.photoConBox{margin-bottom:8px;}
.photoConBox dl{float:left;padding-right:22px;border-bottom:none;width:134px;font-size:14px;}
.photoConBox dl img{margin-bottom:5px;padding:1px;border:1px solid #ccc;width:130px;height:87px;}
.photoConBox dl span{font-size:12px;color:#131d27;}
.photoConBox p{font-size:14px;height:34px;overflow:hidden;}

/*推荐图片*/
.tuijianRel{ position:relative; z-index:20;}
.tuijianAbs{ position:absolute; left:0px; top:0px; color:#fff; width:840px; padding:10px 0 10px 0;background:rgba(0, 0, 0, 0.9) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/filter:Alpha(opacity=90); background:#000000;/*实现IE背景透明*/}
.tuijianPicBox{ overflow:hidden;zoom:1; padding-left:6px;}
.tuijianPicBox li{ float:left; margin:0 10px;-margin:0 8px; width:145px; position:relative;}
.tuijianPicBox li img{ width:145px; height:97px;}
.tuijianPicBox li a span{position:absolute; left:0px; bottom:0px; background-color:rgba(0,0,0,0.5) !important; filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7f000000', EndColorStr='#7f000000'); *+filter:Alpha(opacity=70); *+background:#000; width:135px; padding:2px 5px; margin-top:-7px; color:#fff; cursor:pointer; display:block; overflow:hidden;}
.tuijianIcoRel{ position:relative;}
.tuijianIco{ position:absolute; z-index:30; left:0px; top:0px; background: url(//file.caixin.com/file/china/images/ico_tuijian.png) no-repeat 0 0;width: 37px;height: 37px;}
.tuijianPicBox li .tuijianIco img{ width:37px; height:37px;}
.lastPicBox li .tuijianIco img{ width:37px; height:37px;}

/*图片最后页---推荐图片*/
.lastPicRel{ position:relative; z-index:20;}
.lastPicAbs{ position:absolute; left:20px; top:75px; color:#fff; width:800px; padding:10px 0 10px 0;background:rgba(0, 0, 0, 0.9) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/filter:Alpha(opacity=90); background:#000000;/*实现IE背景透明*/ }
.lastPicAbs ul{ padding-left:3px;}
.lastPicBox{ overflow:hidden;zoom:1;}
.lastPicBox li{ float:left; margin:0 7px;-margin:0 5px; width:145px; height:97px; position:relative; background:#131d27; text-align:center;}
.lastPicBox li a span{position:absolute; left:0px; bottom:0px; -bottom:-1px;  background-color:rgba(0,0,0,0.5) !important; filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7f000000', EndColorStr='#7f000000'); *+filter:Alpha(opacity=70); *+background:#000; width:135px; padding:2px 5px; margin-top:-7px; color:#fff;cursor:pointer; display:block; overflow:hidden; text-align:left;}
.lastPicBox li a:hover span{ background-color:rgba(0,114,188,1) !important;  filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ff0072bc', EndColorStr='#ff0072bc');}

.playBox{ overflow:hidden;zoom:1; margin-top:20px;}
.mujizhe { float:left; padding-left:10px;}
.return{ float:left; padding:25px 0 0 120px;}
.nextGroup{ float:right; width:188px; _width:205px; overflow:hidden;zoom:1;}
.nextGroup dt{ float:left; line-height:100%; font-weight:bold; padding:50px 10px 0 0;}
.nextGroup dt a{ color:#fff;}
.nextGroup dt a:hover{ color:#eb8c14;}
.nextGroup dd{ float:left;}
.listWithPic a:hover span { background-color:rgba(0,114,188,1) !important;  filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ff0072bc', EndColorStr='#ff0072bc');}
.tuijianPicBox li a:hover span{ background-color:rgba(0,114,188,1) !important;  filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ff0072bc', EndColorStr='#ff0072bc');}

/*-----------------------频道首页-------------------------------------*/
.comMain h3 a,.comMain .tit3 a{ color:#1f286f;}
.topicBox{ margin-bottom:0px;}
.topPic{ height:450px; overflow:hidden;}
.topPic .ri{ float:right; width:300px;}
.leftbox01{ height:434px;position:relative; float:left;}

/*自动轮播图片*/
.lstjtibd{position:absolute;bottom:10px;right:15px; -left:550px; -top:400px;-width:200px; z-index:20;}
.lstjti{font-weight:bold;float:left;padding-top:1px;}
.lstjtiri{padding-top:4px;}
.lstjtiri li{float:left;font:0px sans-serif;width:18px;height:18px;text-align:center;line-height:16px;margin-left:1px;cursor:pointer;font-family:Arial, Helvetica, sans-serif;}
.sxs{cursor:pointer; background:url(//file.caixin.com/file/blog/images/kvbtn1.png) no-repeat left top;height:0;width:18px;overflow:hidden; display:inline-block;}
.sxs1{background:url(//file.caixin.com/file/blog/images/kvbtn2.png) no-repeat right top;width:18px;}
.sxs1,.sxs{ text-indent:-9999px;}
.lstjbd{margin:0 auto;margin-bottom:0px;}
.lstjbd img{width:662px; height:434px;}
.lstjbd span{display:block;}
.wzdf{overflow:hidden;text-align:left;padding:12px 0 0 5px;line-height:24px;font-size:14px; /*width:550px; */font-size:16px; font-family:"微软雅黑"; font-weight:bold; position:absolute; z-index:10; bottom:0px; right:0px; color:#fff; height:50px;background-color:rgba(0,0,0,0.5) !important; filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7f000000', EndColorStr='#7f000000'); *+filter:Alpha(opacity=70); *+background:#000; padding:10px 140px 10px 15px; width:507px;}
.wzdf p{ font-size:12px; font-weight:normal; font-family:"宋体";}
.wzdf a{ color:#fff;}
/*图片频道排行*/
.tuijianCon{ background:#F4F2F5; height:469px; padding:0;}
.TopNewsri .tit_lm{height:24px;background:url(//file.caixin.com/file/channel/images/bg_tit_topnews2.gif) no-repeat right;color:#fff;}
.TopNewsri .tit_lm span{height:22px;background:url(//file.caixin.com/file/channel/images/bg_tit_topnews2.gif) no-repeat left;padding:2px 0px 0px 15px;color:#fff;}
.TopNewsri .tit_lm a:link,.TopNewsri .tit_lm a:visited{color:#fff;}
.TopNewsri .tit_lm a:hover,.TopNewsri .tit_lm a:active{color:#EB8C14;}
.tuijianCon dl{ float:left; width:134px; padding:10px 0 0 11px;}
.tuijianCon .demolNews{ overflow:hidden;zoom:1; padding:4px 0px;}
.tuijianCon .demolNews dl{ border:0; height:140px;}
.tuijianCon .demolNews dt { margin-bottom:7px; width:130px;height:87px; padding:1px;border:1px solid #ccc;}
.tuijianCon .demolNews dt a { display:block; width:130px;height:87px; background:#131d27; text-align:center;}

/*每日新闻*/
.todayNews { margin:-10px 0 5px; overflow:hidden; zoom:1;}
.todayNews dl { padding:10px 0 17px; border-bottom:solid 1px #cdcdcd; margin-bottom:-1px; overflow:hidden; zoom:1;}
.todayNews dt{ float:left; margin-right:10px;}
.todayNews dt img{ width:145px; height:97px;}
.todayNews dd h4,.todayNews dd .tit4{ font-size:14px; padding-bottom:8px;}
.todayNews dd p { text-align:justify; text-justify:inter-ideograph;}

/*财家独家*/
.dujiaBox h4,.dujiaBox .tit4{ color:#2a4f6a; font-size:14px; font-weight:normal; padding:15px 0 5px 0;}
.stutitXwen dt{ height:auto;}

/*不自动轮播*/
.qiehuanNav{ position:relative;}
.qiehuanNav li.current{background:url(//file.caixin.com/file/blog/images/kvbtn2.png) no-repeat right top; height:18px; width:18px;}
.qiehuanNav li{cursor:pointer; background:url(//file.caixin.com/file/blog/images/kvbtn1.png) no-repeat right top; height:18px; width:18px; float:left;  padding:0;}
.qiehuanNav ul{ overflow:hidden;zoom:1; position:absolute; left:228px; top:155px; -top:175px; z-index:10;}
.callBoard{ margin-bottom:15px;}
.callBoard img{ width:300px; height:200px;}
.callBoard h4,.callBoard .tit4{ font-size:14px; font-family:"宋体"; padding-top:10px;}
/**/
.yzxwrw h4,.yzxwrw .tit4{font-size:14px; font-family:"宋体"; padding-top:5px;}

/*财新漫画图片滚动*/
.scroll_cont .scrollBox .imgList li { float:left; width:145px; height:97px; margin:0 5px;}
.scroll_cont .scrollBox .imgList li a { margin:0;}
.manHua li a { display:block; width:145px; height:97px; overflow:hidden; zoom:1; position:relative;}
.manHua li a img { display:block; width:145px; height:97px;}
.manHua li a span { position:absolute; bottom:0px; left:0px;display:block; width:135px;  line-height:18px; padding:0 5px; color:#ffffff; cursor:pointer; overflow:hidden; zoom:1; background-color:rgba(0,0,0,0.7) !important;  filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#af000000', EndColorStr='#af000000');}
.manHua li a:hover span { line-height:18px; background-color:rgba(0,114,188,1) !important;  filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ff0072bc', EndColorStr='#ff0072bc'); padding-top:5px;}

/*----------------------------20130516-------------------------------*/
/*图片列表页*/
.conlf {margin-bottom:15px;}
.conri {margin-bottom:15px;}
.crumbs h3{ font-weight:normal;}
.picListBox{ overflow:hidden; width:660px;}
.picList{ width:700px;overflow:hidden;zoom:1;}
.picList dl{ float:left; width:145px; margin-right:27px; height:175px;}
.picList dt{ position:relative; text-align:center; background:#131D27; margin:0 0 2px;}
.picList dt i{ position:absolute; z-index:10; right:5px; bottom:5px; -left:120px; -top:70px; display:block; font-family:Arial;background:url(//file.caixin.com/file/channel/images/num_bg.png) no-repeat left top; width:22px; height:21px; text-align:center; line-height:22px; font-style:normal;color:#fff; overflow:hidden;}
.picList dt i a{ color:#fff;}
.picList dt img{vertical-align:top;}
.picList dd p{ height:36px; overflow:hidden;line-height: 150%;}
.picList dd span{ color:#858585; font-family:Arial; display:block; padding-top:3px;}

/*相关文章*/
.title{position:absolute; left:0; bottom:0; width:760px; color:#fff; padding:15px 40px; background:rgba(0, 0, 0, 0.7);filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#8E000000,endcolorstr=#8E000000); text-align:left;}
.bigPicTxt{ position:relative; padding-bottom:15px; overflow: hidden;zoom:1;}
.bigPicTxt dt{ padding-right:70px; color:#fff; font-size:14px; line-height:22px; text-align:justify; text-justify:inter-ideograph;}
.bigPicTxt dd{ position:absolute; bottom:5px; right:0px; font-size:16px; font-family:Arial;}
.bigPicTxt dd em{ display:inline-block; height:36px; line-height:36px; font-size:36px; font-weight:bold;}
.picRel { padding-top:10px; border-top:solid 1px #f7b117;}
.picRel dt { float:left; margin-right:40px; color:#f7b117; font-weight:bold; font-size:14px;}
.picRel dd { overflow:hidden; zoom:1;}
.picRel dd p { float:left; width:310px; padding-right:15px; line-height:20px;}
.picRel dd p a { color:#ffffff;}
.picRel dd p a:hover { color:#eb8c14;}
.picRel dd p span { margin-left:10px; color:#aaaaaa;}

/*相关文章2*/
.title2 { background:#424242; padding:15px 20px; margin-bottom:15px; color:#fff; overflow:hidden; zoom:1;}
.bigPicTxt2 { overflow:hidden; zoom:1;}
.bigPicTxt2 dt { line-height:24px; font-size:14px; text-align:justify; text-justify:inter-ideograph;}
.bigPicTxt2 dd { float:right; margin-top:-5px; font-size:16px; font-family:Arial;}
.bigPicTxt2 dd em{ display:inline-block; height:36px; line-height:36px; font-size:36px; font-weight:bold;}
.picRel2 { float:right; width:280px; margin-left:41px;}
.picRel2 dt { margin-bottom:3px; font-size:14px; font-weight:bold;}
.picRel2 dd p { line-height:22px;}
.picRel2 dd p span { margin-left:10px;}
.picRel2 dd p a { color:#ffffff;}
.picRel2 dd p a:hover { color:#eb8c14;}

/*cnbc-logo*/
.cnbc-logo {float: left;width: 95px;height: 14px; overflow:hidden;margin-top: 10px}
/*图片赞赏*/
.zanshang-box{background: #F1F1F1;margin: 0 0 15px;}
.zanshang-box p{font-size: 14px;color: #858585;text-align: center;border-bottom:1px solid #fff ;padding: 10px 0 10px;}
.zanshang-con{padding: 10px;}
.zanshang-con input{display:block;margin:0 auto;width: 400px;height: 45px;line-height: 45px;color: #fff;font-size: 18px;background: #f83418;border-radius:22px ;cursor: pointer;}
.zanshang-con span{display: block;font-size: 16px;color: #858585;text-align: center;line-height: 160%;padding: 25px 0;}
.zanshang-con span i{color: #f83418;font-style: normal;}
.zanshang-con ul{text-align: center;}
.zanshang-con ul li{display: inline-block;vertical-align: middle;margin:0 5px 10px 0;}
.zanshang-con li img{width: 50px;height: 50px;border-radius:25px;vertical-align: top;}
/*图片赞赏弹出层*/
.reward-pop .maskclose{width:50px;height:50px;position:absolute;right:-38px;top:-38px;z-index:100;background:url(//file.caixin.com/caixin/image/Subscribe_dialog/mclose.png) no-repeat center center;cursor: pointer;}
.reward-mask{display:none;width:100%;height:100%;position:fixed;top:0;left:0;z-index:10000;background:url(//file.caixin.com/caixin/image/Subscribe_dialog/maskbg.png);}
.reward-pop{display:none;font-family:"寰蒋闆呴粦";width:500px;-webkit-box-sizing:border-box;box-sizing:border-box;background:#f8f8f8;position:fixed;top:50%;left:50%; margin-top:-200px;z-index:10001;border-radius:3px;font-size:12px;padding:30px 10px;margin-left: -315px;}
.reward-pop-title{color:#9b9b9b;text-align:center;font-size: 14px;}
.reward-pop-list{width:85%;margin:30px auto;}
.reward-pop-list li{float:left;width:30%;height:42px;line-height:42px;text-align:center;border:2px solid #f8ad18;border-radius:21px;margin:1.5%;-webkit-box-sizing:border-box;box-sizing:border-box;color:#9b9b9b;font-size:12px; cursor: pointer;color: #000;}
.reward-pop-list li.selected{border-color:#f8ad18;color:#fff;background: #f8ad18;}
.reward-pop-list var{font-size:18px;margin-right:4px;font-style: normal;}
.reward-pop-num-bt{text-align:center;width:80%;height:36px;line-height:34px;margin:30px auto 0;color:#369;font-size:14px;}
.reward-pop-form{display:none; cursor:pointer;position:relative;width:80%;height:36px;line-height:34px;margin:30px auto 0;border:1px solid #9b9b9b;border-radius:3px;-webkit-box-sizing:border-box;box-sizing:border-box;overflow:hidden;}
.reward-pop-form span{position:absolute;left:10px;top:0;z-index:10;line-height:34px;font-size:14px;color:#000;}
.reward-pop-ipt{width:100%;height:36px;line-height:36px;font-size:18px;border:none;outline:none;-webkit-box-sizing:border-box;box-sizing:border-box;padding-left:126px;}
.reward-pop-bt{width:70%;height:36px;line-height:36px;margin:30px auto 0;background:#f83418;border-radius:18px;text-align:center;font-size:14px;font-weight:normal;color:#fff; cursor: pointer;}
