@charset "utf-8";
/* jQuery基本操作-样式操作 */

/* addClass() | removeClass() */

.titleClass{font-size: 20px;font-weight: bold;}
.baseClass{padding-left: 20px;background-color: #EEE;}
.fontSize{font-size: 16px;}
.p0{color: red;}
.p1{color: blue;}
.p2{color: green;}

/* toggle() | css() */

input{margin: 5px 0px; width: 150px;}
.focusClass{background-color: #FFF;border: 2px dotted #FF0000;}
.inverseColor{color:#FFF;background-color: #000;}