@charset "utf-8";

/* 11-10jQuery选择器-表单选择器 */

* {
	margin-top: 5px;
}

div {
	height: 660px;
}

#formDiv {
	float: left;
	padding: 4px;
	width: 480px;
	border: 1px solid #666;
}

#showResult {
	/* float: left; */
	float: right;
	padding: 4px;
	width: 200px;
	border: 1px solid #666;
}

input {
	margin: 10px 0px;
	width: 150px;
}

input[type='radio'],
input[type='checkbox'] {
	width: 80px;
}
